
<br>

<div style="float:left;width:100%;text-align:left;padding-left:5%">Contact</div>
<div style="padding-left:5%">
    <div style="font-size:0.75em; float:left; width:15%">
        <p><i class="fas fa-map-marked-alt"></i> <a href="https://goo.gl/maps/BgLkN1ZESRLtyZXh7">Location</a></p>
        <p><i class="fas fa-envelope-square"></i>   <a href="mailto:wyrobophins@gmail.com">Email</a></p>
    </div>
    <div style="font-size:0.75em; float:left; width:15%">
        <p><i class="fab fa-facebook-square"></i>   <a href="https://www.facebook.com/wyrobotics" target="_blank">Facebook</a></p>
        <p><i class="fab fa-instagram-square"></i>   <a href="https://www.instagram.com/wyrobotics/" target="_blank">Instagram</a></p>
    </div>
    <div style="font-size:0.75em; float:left; width:15%">
        <p><i class="fab fa-youtube-square"></i>   <a href="https://www.youtube.com/channel/UC8SGK72k37u9TlL6_2rMClg" target="_blank">YouTube</a></p>
        <p><i class="fab fa-github-square"></i>   <a href="https://github.com/wyrobotics" target="_blank">GitHub</a></p>
    </div>
</div>

<p style="text-align:center">© 2021 Whitney Young Robotics</p>
<p style="text-align:right;font-size:50%"><a href="https://youtu.be/G7KPGuoMq3Y">Secret Video 1</a> --- <a href="https://bit.ly/3BJoHqN">Secret Video 2</a></p>

<br>